.false{
    width: 10%;
    box-sizing: border-box;
    float: left;
    height: 30px;
    margin: 5px 5px 0 0;
    border-radius: 4px;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    word-spacing: 1px;
    background: #b91d19;
    color: #dddfe2;
}
.true{
    width: 10%;
    box-sizing: border-box;
    float: left;
    height: 30px;
    margin: 5px 5px 0 0;
    border-radius: 4px;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    word-spacing: 1px;
    background: #00ad5f;
    color: #dddfe2;
}
.result{
    width: 200px;
    height: 200px;
    /*position: absolute;*/
    top: 34px;
    /*bottom: 19px;*/
    /*right: 0;*/
    /*background: #b3e8ca;*/
    color: #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0;
}
.title{
    font-size: 18px;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    margin: 0;
    text-align: center;
    color: black;
}
.content{
    height: 70px;
    font-size: 70px;
    text-align: center;
    color: #b91d19;
}

.question{
    font-size: 20px;
    font-family: Roboto,sans-serif;
    /*background: linear-gradient(to right, #61ba6d, #83c331);*/
}


